* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #151515;
    --secondary-color: rgb(35, 35, 35);
    --accent-color: hsl(120, 100%, 75%);
    --text-color: #333;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--secondary-color);
    color: white;
}

header {
    position: sticky;
    height: 150px;
    background-color: var(--secondary-color);
    background-image: linear-gradient(to top, var(--secondary-color), var(--primary-color));
    background-image: url("images/fibraCarbonoBanner.jpg");
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
}

header h1 {
    position: absolute;
    top: 25px;
    text-shadow: 1px 1px 3px red;
}

header nav {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-top: 1px solid white;

}

header nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    list-style: none;
}

header nav ul li {
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
    padding: 6px;
    box-shadow:  1px 1px 4px red;
    transition: background-color 1s ease-in-out, transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
}

header nav ul li:hover {
    background-color: #333;
    transform: scale(1.1);
    transition: 0.5s;
    box-shadow:  2px 2px 4px rgb(255, 119, 0);
}

header nav ul li a {
    padding: 5px;
    text-decoration: none;
    color: aliceblue;
}